<app-layout>
  <div class="row">
    <div class="col-2" style="padding: 0px; background-color: white; border: 0px">
      <table class="table">
        <thead>
          <tr>
            <th scope="col" class="width:10%">Time</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let x of time; let i = index">
            <th scope="row" *ngIf="i % 12 === 0" style="padding-top: 0px; padding-bottom: 24px">{{x}}</th>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col" style="padding: 0px; position: relative">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col" class="width:90%">Events</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let x of time; let i = index">
            <td *ngIf="i % 12 === 0">
              Add new event here....!
            </td>
          </tr>
        </tbody>
      </table>
      <div class="col" *ngFor="let event of eventsArray" style="padding: 0px; position: absolute; top: 50px"
        [style.top.px]="eventTop" [style.left.%]="eventLeft" [style.width.%]="eventWidth">
        <table class="table">
          <tbody>
            <tr *ngFor="let x of time; let i = index">
              <div class="card text-white bg-primary border-light" style="display: none" [ngStyle]="{'display': checkAndShowEvent(i, event) ? 'block' : 'none'}"
                [style.height.px]="eventHeight">
                <div class="card-body">
                  <div class="row">
                    <h6 class="card-title">{{event.eventName}}</h6>
                    <div style="top:10px;right:10px; position: absolute">
                      <a (click)="deleteEvent(event)">
                        <i class="material-icons pull-right">close</i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <button mat-raised-button (click)="openPopup()" mat-fab class="btn pmd-btn-fab pmd-ripple-effect btn-info pull-right fab"
      type="button"><i class="material-icons pmd-sm">add</i></button>
  </div>
</app-layout>