<app-layout>
  <div class="row">
    <div>
      <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                  <tr class="row">
                    <th scope="col" class="width:50%">Time</th>
                    <th scope="col" class="width:50%">Events</th>
                  </tr>
                </thead>
                <tbody *ngFor="let x of time; let i = index">
                  <tr *ngIf="drawLine(i)">
                    <th scope="row">{{x}}</th>
                    <td>
                      <app-event [eventData]="eventData" [currentIndex]="i" [rowValue]="x"></app-event>
                    </td>
                  </tr>
                </tbody>
              </table>
              <!-- <div class="row">
                  <div class="col-xs-6">
                    <div>Big Image Goes Here</div>
                  </div>
                  <div class="col-xs-6">
                    <div class="col-xs-12">Little Image #1</div>
                    <div class="col-xs-12">Little Image #2</div>
                    <div class="col-xs-12">Little Image #3</div>
                    <div class="col-xs-12">Little Image #4</div>
                  </div>
                </div> -->
        </div>
      </div>
    </div>
  <button mat-raised-button (click)="openPopup()" mat-fab class="btn pmd-btn-fab pmd-ripple-effect btn-info pull-right fab" type="button"><i class="material-icons pmd-sm">add</i></button>  
</div>

</app-layout>