<p>
  <!--*ngIf="!checkIfEvent()"-->
  No event here.
</p>


<!-- <div class="card" *ngIf="!checkIfEvent()">
    <div class="card-header">
      <div class="row">
        <div class="col-md-11">
          <h4 class="card-title">{{eventData?.eventName}}</h4>
          <p class="card-category">Fill all the fields</p> -->
<!-- </div>
        <div class="col-md-1">
          <a (click)="cancelEvent()">
            <i class="material-icons pull-right">close</i>
          </a>
        </div>
      </div>
    </div>
  </div> -->

<!-- <div style="zoom: 1; position: relative;">
  <div style="float: left; width: 45px; height: 360px; overflow: hidden; position: relative;">
    <div style="height: 990px;">
      <table cellspacing="0" cellpadding="0" border="0" style="border: 0px none; width: 45px;">
        <tbody>
          <tr style="height: 40px;">
            <td unselectable="on" style="padding: 0px; border: 0px none;">
              <div class="calendar_default_rowheader" unselectable="on" style="position: relative; width: 45px; height: 40px; overflow: hidden;">
                <div class="calendar_default_rowheader_inner" unselectable="on">
                  <div unselectable="on">12<span unselectable="on" class="calendar_default_rowheader_minutes">AM</span></div>
                </div>
              </div>
            </td>
          </tr>
          <tr style="height: 40px;">
            <td unselectable="on" style="padding: 0px; border: 0px none;">
              <div class="calendar_default_rowheader" unselectable="on" style="position: relative; width: 45px; height: 40px; overflow: hidden;">
                <div class="calendar_default_rowheader_inner" unselectable="on">
                  <div unselectable="on">1<span unselectable="on" class="calendar_default_rowheader_minutes">AM</span></div>
                </div>
              </div>
            </td>
          </tr>
          <tr style="height: 40px;">
            <td unselectable="on" style="padding: 0px; border: 0px none;">
              <div class="calendar_default_rowheader" unselectable="on" style="position: relative; width: 45px; height: 40px; overflow: hidden;">
                <div class="calendar_default_rowheader_inner" unselectable="on">
                  <div unselectable="on">2<span unselectable="on" class="calendar_default_rowheader_minutes">AM</span></div>
                </div>
              </div>
            </td>
          </tr>
          <tr style="height: 40px;">
            <td unselectable="on" style="padding: 0px; border: 0px none;">
              <div class="calendar_default_rowheader" unselectable="on" style="position: relative; width: 45px; height: 40px; overflow: hidden;">
                <div class="calendar_default_rowheader_inner" unselectable="on">
                  <div unselectable="on">3<span unselectable="on" class="calendar_default_rowheader_minutes">AM</span></div>
                </div>
              </div>
            </td>
          </tr>
          <tr style="height: 40px;">
            <td unselectable="on" style="padding: 0px; border: 0px none;">
              <div class="calendar_default_rowheader" unselectable="on" style="position: relative; width: 45px; height: 40px; overflow: hidden;">
                <div class="calendar_default_rowheader_inner" unselectable="on">
                  <div unselectable="on">4<span unselectable="on" class="calendar_default_rowheader_minutes">AM</span></div>
                </div>
              </div>
            </td>
          </tr>
          <tr style="height: 40px;">
            <td unselectable="on" style="padding: 0px; border: 0px none;">
              <div class="calendar_default_rowheader" unselectable="on" style="position: relative; width: 45px; height: 40px; overflow: hidden;">
                <div class="calendar_default_rowheader_inner" unselectable="on">
                  <div unselectable="on">5<span unselectable="on" class="calendar_default_rowheader_minutes">AM</span></div>
                </div>
              </div>
            </td>
          </tr>
          <tr style="height: 40px;">
            <td unselectable="on" style="padding: 0px; border: 0px none;">
              <div class="calendar_default_rowheader" unselectable="on" style="position: relative; width: 45px; height: 40px; overflow: hidden;">
                <div class="calendar_default_rowheader_inner" unselectable="on">
                  <div unselectable="on">6<span unselectable="on" class="calendar_default_rowheader_minutes">AM</span></div>
                </div>
              </div>
            </td>
          </tr>
          <tr style="height: 40px;">
            <td unselectable="on" style="padding: 0px; border: 0px none;">
              <div class="calendar_default_rowheader" unselectable="on" style="position: relative; width: 45px; height: 40px; overflow: hidden;">
                <div class="calendar_default_rowheader_inner" unselectable="on">
                  <div unselectable="on">7<span unselectable="on" class="calendar_default_rowheader_minutes">AM</span></div>
                </div>
              </div>
            </td>
          </tr>
          <tr style="height: 40px;">
            <td unselectable="on" style="padding: 0px; border: 0px none;">
              <div class="calendar_default_rowheader" unselectable="on" style="position: relative; width: 45px; height: 40px; overflow: hidden;">
                <div class="calendar_default_rowheader_inner" unselectable="on">
                  <div unselectable="on">8<span unselectable="on" class="calendar_default_rowheader_minutes">AM</span></div>
                </div>
              </div>
            </td>
          </tr>
          <tr style="height: 40px;">
            <td unselectable="on" style="padding: 0px; border: 0px none;">
              <div class="calendar_default_rowheader" unselectable="on" style="position: relative; width: 45px; height: 40px; overflow: hidden;">
                <div class="calendar_default_rowheader_inner" unselectable="on">
                  <div unselectable="on">9<span unselectable="on" class="calendar_default_rowheader_minutes">AM</span></div>
                </div>
              </div>
            </td>
          </tr>
          <tr style="height: 40px;">
            <td unselectable="on" style="padding: 0px; border: 0px none;">
              <div class="calendar_default_rowheader" unselectable="on" style="position: relative; width: 45px; height: 40px; overflow: hidden;">
                <div class="calendar_default_rowheader_inner" unselectable="on">
                  <div unselectable="on">10<span unselectable="on" class="calendar_default_rowheader_minutes">AM</span></div>
                </div>
              </div>
            </td>
          </tr>
          <tr style="height: 40px;">
            <td unselectable="on" style="padding: 0px; border: 0px none;">
              <div class="calendar_default_rowheader" unselectable="on" style="position: relative; width: 45px; height: 40px; overflow: hidden;">
                <div class="calendar_default_rowheader_inner" unselectable="on">
                  <div unselectable="on">11<span unselectable="on" class="calendar_default_rowheader_minutes">AM</span></div>
                </div>
              </div>
            </td>
          </tr>
          <tr style="height: 40px;">
            <td unselectable="on" style="padding: 0px; border: 0px none;">
              <div class="calendar_default_rowheader" unselectable="on" style="position: relative; width: 45px; height: 40px; overflow: hidden;">
                <div class="calendar_default_rowheader_inner" unselectable="on">
                  <div unselectable="on">12<span unselectable="on" class="calendar_default_rowheader_minutes">PM</span></div>
                </div>
              </div>
            </td>
          </tr>
          <tr style="height: 40px;">
            <td unselectable="on" style="padding: 0px; border: 0px none;">
              <div class="calendar_default_rowheader" unselectable="on" style="position: relative; width: 45px; height: 40px; overflow: hidden;">
                <div class="calendar_default_rowheader_inner" unselectable="on">
                  <div unselectable="on">1<span unselectable="on" class="calendar_default_rowheader_minutes">PM</span></div>
                </div>
              </div>
            </td>
          </tr>
          <tr style="height: 40px;">
            <td unselectable="on" style="padding: 0px; border: 0px none;">
              <div class="calendar_default_rowheader" unselectable="on" style="position: relative; width: 45px; height: 40px; overflow: hidden;">
                <div class="calendar_default_rowheader_inner" unselectable="on">
                  <div unselectable="on">2<span unselectable="on" class="calendar_default_rowheader_minutes">PM</span></div>
                </div>
              </div>
            </td>
          </tr>
          <tr style="height: 40px;">
            <td unselectable="on" style="padding: 0px; border: 0px none;">
              <div class="calendar_default_rowheader" unselectable="on" style="position: relative; width: 45px; height: 40px; overflow: hidden;">
                <div class="calendar_default_rowheader_inner" unselectable="on">
                  <div unselectable="on">3<span unselectable="on" class="calendar_default_rowheader_minutes">PM</span></div>
                </div>
              </div>
            </td>
          </tr>
          <tr style="height: 40px;">
            <td unselectable="on" style="padding: 0px; border: 0px none;">
              <div class="calendar_default_rowheader" unselectable="on" style="position: relative; width: 45px; height: 40px; overflow: hidden;">
                <div class="calendar_default_rowheader_inner" unselectable="on">
                  <div unselectable="on">4<span unselectable="on" class="calendar_default_rowheader_minutes">PM</span></div>
                </div>
              </div>
            </td>
          </tr>
          <tr style="height: 40px;">
            <td unselectable="on" style="padding: 0px; border: 0px none;">
              <div class="calendar_default_rowheader" unselectable="on" style="position: relative; width: 45px; height: 40px; overflow: hidden;">
                <div class="calendar_default_rowheader_inner" unselectable="on">
                  <div unselectable="on">5<span unselectable="on" class="calendar_default_rowheader_minutes">PM</span></div>
                </div>
              </div>
            </td>
          </tr>
          <tr style="height: 40px;">
            <td unselectable="on" style="padding: 0px; border: 0px none;">
              <div class="calendar_default_rowheader" unselectable="on" style="position: relative; width: 45px; height: 40px; overflow: hidden;">
                <div class="calendar_default_rowheader_inner" unselectable="on">
                  <div unselectable="on">6<span unselectable="on" class="calendar_default_rowheader_minutes">PM</span></div>
                </div>
              </div>
            </td>
          </tr>
          <tr style="height: 40px;">
            <td unselectable="on" style="padding: 0px; border: 0px none;">
              <div class="calendar_default_rowheader" unselectable="on" style="position: relative; width: 45px; height: 40px; overflow: hidden;">
                <div class="calendar_default_rowheader_inner" unselectable="on">
                  <div unselectable="on">7<span unselectable="on" class="calendar_default_rowheader_minutes">PM</span></div>
                </div>
              </div>
            </td>
          </tr>
          <tr style="height: 40px;">
            <td unselectable="on" style="padding: 0px; border: 0px none;">
              <div class="calendar_default_rowheader" unselectable="on" style="position: relative; width: 45px; height: 40px; overflow: hidden;">
                <div class="calendar_default_rowheader_inner" unselectable="on">
                  <div unselectable="on">8<span unselectable="on" class="calendar_default_rowheader_minutes">PM</span></div>
                </div>
              </div>
            </td>
          </tr>
          <tr style="height: 40px;">
            <td unselectable="on" style="padding: 0px; border: 0px none;">
              <div class="calendar_default_rowheader" unselectable="on" style="position: relative; width: 45px; height: 40px; overflow: hidden;">
                <div class="calendar_default_rowheader_inner" unselectable="on">
                  <div unselectable="on">9<span unselectable="on" class="calendar_default_rowheader_minutes">PM</span></div>
                </div>
              </div>
            </td>
          </tr>
          <tr style="height: 40px;">
            <td unselectable="on" style="padding: 0px; border: 0px none;">
              <div class="calendar_default_rowheader" unselectable="on" style="position: relative; width: 45px; height: 40px; overflow: hidden;">
                <div class="calendar_default_rowheader_inner" unselectable="on">
                  <div unselectable="on">10<span unselectable="on" class="calendar_default_rowheader_minutes">PM</span></div>
                </div>
              </div>
            </td>
          </tr>
          <tr style="height: 40px;">
            <td unselectable="on" style="padding: 0px; border: 0px none;">
              <div class="calendar_default_rowheader" unselectable="on" style="position: relative; width: 45px; height: 40px; overflow: hidden;">
                <div class="calendar_default_rowheader_inner" unselectable="on">
                  <div unselectable="on">11<span unselectable="on" class="calendar_default_rowheader_minutes">PM</span></div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div style="height: 360px; margin-left: 45px; position: relative; overflow: auto;">
    <div style="height: 0px; position: relative;">
      <table cellpadding="0" cellspacing="0" border="0" style="width: 100%; border: 0px none; table-layout: fixed;">
        <tbody>
          <tr style="user-select: none;">
            <td unselectable="on" style="padding: 0px; border: 0px none; vertical-align: top; height: 20px; overflow: hidden;">
              <div class="calendar_default_cell" unselectable="on" style="position: relative; height: 20px; overflow: hidden;">
                <div class="calendar_default_cell_inner"></div>
              </div>
            </td>
            <td unselectable="on" style="padding: 0px; border: 0px none; vertical-align: top; height: 20px; overflow: hidden;">
              <div class="calendar_default_cell" unselectable="on" style="position: relative; height: 20px; overflow: hidden;">
                <div class="calendar_default_cell_inner"></div>
              </div>
            </td>
            <td unselectable="on" style="padding: 0px; border: 0px none; vertical-align: top; height: 20px; overflow: hidden;">
              <div class="calendar_default_cell" unselectable="on" style="position: relative; height: 20px; overflow: hidden;">
                <div class="calendar_default_cell_inner"></div>
              </div>
            </td>
            <td unselectable="on" style="padding: 0px; border: 0px none; vertical-align: top; height: 20px; overflow: hidden;">
              <div class="calendar_default_cell" unselectable="on" style="position: relative; height: 20px; overflow: hidden;">
                <div class="calendar_default_cell_inner"></div>
              </div>
            </td>
            <td unselectable="on" style="padding: 0px; border: 0px none; vertical-align: top; height: 20px; overflow: hidden;">
              <div class="calendar_default_cell" unselectable="on" style="position: relative; height: 20px; overflow: hidden;">
                <div class="calendar_default_cell_inner"></div>
              </div>
            </td>
            <td unselectable="on" style="padding: 0px; border: 0px none; vertical-align: top; height: 20px; overflow: hidden;">
              <div class="calendar_default_cell" unselectable="on" style="position: relative; height: 20px; overflow: hidden;">
                <div class="calendar_default_cell_inner"></div>
              </div>
            </td>
            <td unselectable="on" style="padding: 0px; border: 0px none; vertical-align: top; height: 20px; overflow: hidden;">
              <div class="calendar_default_cell" unselectable="on" style="position: relative; height: 20px; overflow: hidden;">
                <div class="calendar_default_cell_inner"></div>
              </div>
            </td>
          </tr>
          <tr style="user-select: none;">
            <td unselectable="on" style="padding: 0px; border: 0px none; vertical-align: top; height: 20px; overflow: hidden;">
              <div class="calendar_default_cell" unselectable="on" style="position: relative; height: 20px; overflow: hidden;">
                <div class="calendar_default_cell_inner"></div>
              </div>
            </td>
            <td unselectable="on" style="padding: 0px; border: 0px none; vertical-align: top; height: 20px; overflow: hidden;">
              <div class="calendar_default_cell calendar_default_cell_business" unselectable="on" style="position: relative; height: 20px; overflow: hidden;">
                <div class="calendar_default_cell_inner"></div>
              </div>
            </td>
            <td unselectable="on" style="padding: 0px; border: 0px none; vertical-align: top; height: 20px; overflow: hidden;">
              <div class="calendar_default_cell calendar_default_cell_business" unselectable="on" style="position: relative; height: 20px; overflow: hidden;">
                <div class="calendar_default_cell_inner"></div>
              </div>
            </td>
            <td unselectable="on" style="padding: 0px; border: 0px none; vertical-align: top; height: 20px; overflow: hidden;">
              <div class="calendar_default_cell calendar_default_cell_business" unselectable="on" style="position: relative; height: 20px; overflow: hidden;">
                <div class="calendar_default_cell_inner"></div>
              </div>
            </td>
            <td unselectable="on" style="padding: 0px; border: 0px none; vertical-align: top; height: 20px; overflow: hidden;">
              <div class="calendar_default_cell calendar_default_cell_business" unselectable="on" style="position: relative; height: 20px; overflow: hidden;">
                <div class="calendar_default_cell_inner"></div>
              </div>
            </td>
            <td unselectable="on" style="padding: 0px; border: 0px none; vertical-align: top; height: 20px; overflow: hidden;">
              <div class="calendar_default_cell calendar_default_cell_business" unselectable="on" style="position: relative; height: 20px; overflow: hidden;">
                <div class="calendar_default_cell_inner"></div>
              </div>
            </td>
            <td unselectable="on" style="padding: 0px; border: 0px none; vertical-align: top; height: 20px; overflow: hidden;">
              <div class="calendar_default_cell" unselectable="on" style="position: relative; height: 20px; overflow: hidden;">
                <div class="calendar_default_cell_inner"></div>
              </div>
            </td>
          </tr>
          <tr style="user-select: none;">
            <td unselectable="on" style="padding: 0px; border: 0px none; vertical-align: top; height: 20px; overflow: hidden;">
              <div class="calendar_default_cell" unselectable="on" style="position: relative; height: 20px; overflow: hidden;">
                <div class="calendar_default_cell_inner"></div>
              </div>
            </td>
            <td unselectable="on" style="padding: 0px; border: 0px none; vertical-align: top; height: 20px; overflow: hidden;">
              <div class="calendar_default_cell" unselectable="on" style="position: relative; height: 20px; overflow: hidden;">
                <div class="calendar_default_cell_inner"></div>
              </div>
            </td>
            <td unselectable="on" style="padding: 0px; border: 0px none; vertical-align: top; height: 20px; overflow: hidden;">
              <div class="calendar_default_cell" unselectable="on" style="position: relative; height: 20px; overflow: hidden;">
                <div class="calendar_default_cell_inner"></div>
              </div>
            </td>
            <td unselectable="on" style="padding: 0px; border: 0px none; vertical-align: top; height: 20px; overflow: hidden;">
              <div class="calendar_default_cell" unselectable="on" style="position: relative; height: 20px; overflow: hidden;">
                <div class="calendar_default_cell_inner"></div>
              </div>
            </td>
            <td unselectable="on" style="padding: 0px; border: 0px none; vertical-align: top; height: 20px; overflow: hidden;">
              <div class="calendar_default_cell" unselectable="on" style="position: relative; height: 20px; overflow: hidden;">
                <div class="calendar_default_cell_inner"></div>
              </div>
            </td>
            <td unselectable="on" style="padding: 0px; border: 0px none; vertical-align: top; height: 20px; overflow: hidden;">
              <div class="calendar_default_cell" unselectable="on" style="position: relative; height: 20px; overflow: hidden;">
                <div class="calendar_default_cell_inner"></div>
              </div>
            </td>
            <td unselectable="on" style="padding: 0px; border: 0px none; vertical-align: top; height: 20px; overflow: hidden;">
              <div class="calendar_default_cell" unselectable="on" style="position: relative; height: 20px; overflow: hidden;">
                <div class="calendar_default_cell_inner"></div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div style="position: absolute; top: 0px; left: 0px; width: 100%; height: 0px;"></div>
      <table cellpadding="0" cellspacing="0" border="0" style="position: absolute; top: 0px; width: 100%; border: 0px none; table-layout: fixed;">
        <tbody>
          <tr>
            <td style="padding: 0px; border: 0px none; height: 1px; overflow: visible; text-align: left;">
              <div style="position: relative;"></div>
              <div style="margin-right: 5px; position: relative; height: 1px; margin-top: -1px;">
                <div unselectable="on" class="calendar_default_event" title="xxx" style="user-select: none; position: absolute; left: 0%; top: 80px; width: 100%; height: 40px; overflow: hidden; cursor: pointer;">
                  <div unselectable="on" class="calendar_default_event_inner">xxx</div>
                  <div unselectable="on" class="calendar_default_event_bar" style="position: absolute;">
                    <div unselectable="on" class="calendar_default_event_bar_inner" style="top: 0%; height: 100%;"></div>
                  </div>
                </div>
              </div>
            </td> -->
            <!-- <div style="margin-right: 5px; position: relative; height: 1px; margin-top: -1px;">
              <div unselectable="on" class="calendar_default_event" title="xxx" style="user-select: none; position: absolute; left: 0%; top: 80px; width: 100%; height: 120px; overflow: hidden; cursor: pointer;">
                <div unselectable="on" class="calendar_default_event_inner">xxx</div>
                <div unselectable="on" class="calendar_default_event_bar" style="position: absolute;">
                  <div unselectable="on" class="calendar_default_event_bar_inner" style="top: 0%; height: 100%;"></div>
                </div>
              </div>
            </div> -->
            <!-- <td style="padding: 0px; border: 0px none; height: 1px; overflow: visible; text-align: left;">
              <div style="position: relative;"></div>
              <div style="margin-right: 5px; position: relative; height: 1px; margin-top: -1px;"></div>
            </td>
            <td style="padding: 0px; border: 0px none; height: 1px; overflow: visible; text-align: left;">
              <div style="position: relative;"></div>
              <div style="margin-right: 5px; position: relative; height: 1px; margin-top: -1px;"></div>
            </td>
            <td style="padding: 0px; border: 0px none; height: 1px; overflow: visible; text-align: left;">
              <div style="position: relative;"></div>
              <div style="margin-right: 5px; position: relative; height: 1px; margin-top: -1px;"></div>
            </td>
            <td style="padding: 0px; border: 0px none; height: 1px; overflow: visible; text-align: left;">
              <div style="position: relative;"></div>
              <div style="margin-right: 5px; position: relative; height: 1px; margin-top: -1px;"></div>
            </td>
            <td style="padding: 0px; border: 0px none; height: 1px; overflow: visible; text-align: left;">
              <div style="position: relative;"></div>
              <div style="margin-right: 5px; position: relative; height: 1px; margin-top: -1px;"></div>
            </td>
            <td style="padding: 0px; border: 0px none; height: 1px; overflow: visible; text-align: left;">
              <div style="position: relative;">
                <div class="calendar_default_now" style="position: absolute; top: 779px; height: 1px; left: 0px; right: 0px;"></div>
              </div>
              <div style="margin-right: 5px; position: relative; height: 1px; margin-top: -1px;"></div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> -->